@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

@keyframes tada {
    0% {
        transform: scale(1);
    }
    10%,
    20% {
        transform: scale(0.9) rotate(-6deg);
    }
    30%,
    50%,
    70%,
    90% {
        transform: scale(1.1) rotate(6deg);
    }
    40%,
    60%,
    80% {
        transform: scale(1.1) rotate(-6deg);
    }
    100% {
        transform: scale(1) rotate(0);
    }
}

.icon-hover-tada:hover {
    animation: tada 1s ease;
}

body {
    font-family: 'IBM Plex Mono', monospace;
}
